/*******************************************************/
/*        
/*              AUTHOR:amour dahou
/*         GITHUB:http://github.com/Amour22
/*         COPYRIGHT 2022 ALL RIGHT RESERVED
/*              UPDATED AT 11th Sep 2022
/*
/******************************************************/


/*******************************************************/
/*        
/*                 FONTS IMPORT
/*
/******************************************************/

@font-face {
  font-family: "poppin";
  src: url("../assets/font/poppins-Regular.ttf");
  unicode-range: U+0025-00FF;
}

/*******************************************************/
/*        
/*        ROOT CONFIGS AND INITIALIZE
/*
/******************************************************/

:root {
  --primaire: #b22222;
  --persistant: #961515;
  --dark: #111;
  --moon: #3e3e3e;
  --default: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "poppin", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p {
  font-weight: 300;
  color: var(--dark);
}

/*******************************************************/
/*        
/*                HEROES/BANNER
/*
/******************************************************/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--persistant);
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  padding-top: 70px;
  text-align: center;
}
.banner .content::before {
  content: url(../assets/images/home.png);
  position: absolute;
  top: 8px;
  left: 2px;
  opacity: 0.8;
}
.banner .content::after {
  content: url(../assets/images/dish-1.png);
  position: absolute;
  top: calc(100vh - 198px);
  height: 122px;
  right: 61px;
  overflow: hidden;
  transform: translateY(77px);
  opacity: 0.7;
}
.banner .content h2 {
  font-size: 1.7em;
  font-display: swap;
  color: var(--default);
}
.banner .content p {
  font-size: 1em;
  font-display: swap;
  margin: 34px;
  color: var(--default);
}
.banner .btn {
  background-color: #3e3e3e7a;
}
.banner .btn:hover {
  letter-spacing: 3px;
  box-shadow: 4px 0px 1px white;
}
.btn {
  font-size: 1em;
  color: var(--default);
  background: var(--persistant);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.4s;
}
.btn:hover {
  letter-spacing: 4px;
}

/*******************************************************/
/*        
/*                    HEADER
/*
/******************************************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: var(--default);
  padding: 10px 100px;
  box-shadow: 2.5px 1px rgb(0 0 0 / 50%);
  transition: inherit;
}
header .logo {
  position: relative;
  left: -15px;
  color: var(--default);
  font-weight: 700;
  font-size: 2em;
  font-display: swap;
  text-decoration: none;
}
header.sticky .logo {
  color: var(--dark);
}
header.sticky .logo span {
  color: var(--persistant);
}
header #cartBox {
  position: relative;
  width: 30px;
  height: 30px;
  transform: scale(0.9);
  transition: 0.3s;
}
header #cartBox:hover {
  transform: scale(0.8);
  transition: 0.3s;
}
header #cartBox a {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("../assets/images/website-icon.png");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
}
header.sticky #cartBox a {
  filter: inherit;
}
#counter {
  position: absolute;
  top: 2px;
  left: -7px;
  display: none;
}
.showCounter {
  background-color: var(--default);
  color: var(--persistant);
  height: 25px;
  width: 25px;
  font-size: small;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 800;
  border-radius: 50%;
  transform: translate(7px, -10px);
  z-index: 55;
  cursor: pointer;
}
header.sticky .showCounter {
  background-color: var(--persistant);
  color: var(--default);
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 25px;
}
header .navigation li a {
  text-decoration: none;
  color: var(--default);
  font-weight: 300;
}
header.sticky .navigation li a {
  color: var(--dark);
}
header .navigation li a:hover,
header .navigation li a:active {
  color: #0b0707;
  transition: 0.3s;
  font-weight: 900;
}
header.sticky .navigation li a:hover,
header .navigation li a:active {
  color: var(--persistant);
}

/*******************************************************/
/*        
/*                INVOICE
/*
/******************************************************/

.invoiceBox {
  position: fixed;
  width: 350px;
  min-height: 400px;
  min-width: 220px;
  max-width: 500px;
  height: auto;
  padding: 28px;
  top: 128px;
  right: 15px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 90%;
  background-color: var(--persistant);
  color: var(--default);
  border-radius: 17px;
  box-shadow: 0px 10px 15px rgba(0 0 0 / 8%), inset -5px -5px 5px #0b070700,
    inset -5px -5px 5px #11111185;
  overflow: hidden;
  transition-property: display;
  transition: 0.5s;
}
.invoiceBox::before {
  content: url(../assets/images/home.png);
  position: absolute;
  transform: scale(0.8) rotateZ(196deg) rotateY(145deg) translate(387px, -138px);
}
.invoiceBox::after {
  content: url(../assets/images/dish-1.png);
  top: 5px;
  position: absolute;
  transform: scale(0.7) translate(-115px, -68px);
}
.showInvoiceBox {
  display: flex !important;
}
#invoiceCloseBtn {
  height: 20px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;
}
#invoiceCloseBtn:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.invoiceBox table {
  max-width: 350px;
  margin-bottom: 20px;
  border-collapse: collapse;
  transform: scale(0.9);
  cursor: pointer;
}
.invoiceBox > table > tbody > tr > td {
  max-height: 70px;
  margin: 20px;
  padding: 3.5px;
  background-color: #0000001a;
  border: 1px;
}
.invoiceBox .Pquantity {
  max-width: 40px;
  cursor: text;
}
.invoiceBox .PremoveImg {
  transition: 0.8s;
}
.invoiceBox .PremoveImg:hover {
  transform: rotateZ(45deg);
}
.invoiceBox > table > thead > tr > th {
  font-weight: normal;
  color: var(--dark);
  background-color: var(--default);
  padding: 2px;
  border: 1px;
}
.invoiceBox > button {
  position: absolute;
  bottom: 30px;
  left: 40%;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 25px;
  border: 2px solid var(--default);
  border-radius: 5px;
  font-weight: 800;
  background: var(--default);
  color: var(--dark);
  transition: 0.5s;
}
.invoiceBox > button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.invoiceBox > button svg {
  transition: 1s;
}
.invoiceBox > button:hover svg {
  transform: translateX(5px);
  transition: 1s;
}
.invoiceBox #resume {
  text-align: left;
  transform: translateX(20px);
  cursor: default;
}
.invoiceBox #resume p {
  color: var(--default);
}
.invoiceBox #resume p span {
  color: var(--default);
  font-size: 1rem;
}

/*******************************************************/
/*        
/*                      SECTION
/*
/******************************************************/
section {
  padding: 100px;
  width: 100%;
}
.titleText {
  color: var(--dark);
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
}
.titleText span {
  color: var(--persistant);
  font-weight: 700;
  font-size: 1.5em;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*******************************************************/
/*        
/*                  ABOUT SECTION
/*
/******************************************************/

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col {
  position: relative;
  width: 48%;
}
.row .col .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.row .col .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .titleText {
  position: relative;
  top: -17px;
  margin-top: 20px;
}
.about .col > p {
  margin-top: 20px;
}

/*******************************************************/
/*        
/*                  MENU SECTION
/*
/******************************************************/

.menu .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu .content .box {
  width: 230px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 230px;
}
.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu .content .box .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0.5px;
}
.menu .content .box .text h3 {
  font-weight: 400px;
  color: var(--dark);
}
.menu .content .box .transactionBox {
  display: flex;
  justify-content: space-around;
}
.menu .content .box .transactionBox .addToCartBox,
.menu .content .box .transactionBox .buyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}
.menu .content .box .transactionBox .addToCartBox:hover {
  font-size: 0.9em;
  background-color: var(--dark);
}
.menu .content .box .transactionBox .buyBox:hover {
  font-size: 0.9em;
}
.menu .content .box .transactionBox .addToCartBox {
  background-color: var(--moon);
}
.menu .content .box .transactionBox .buyBox {
  background-color: var(--persistant);
}
.menu .content .box .transactionBox .addToCartBox p,
.menu .content .box .transactionBox .buyBox p {
  color: var(--default);
}

/*******************************************************/
/*        
/*                  COMMANDE SECTION
/*
/******************************************************/
.commande {
  background: url("../assets/images/ag.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.commandeForm {
  width: 600px;
  margin-top: 50px;
  padding: 75px 50px;
  background-color: var(--default);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
.commandeForm h3 {
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 1.2em;
}
.commandeForm .superBox1 {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin-bottom: 0px !important;
}
.commandeForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.commandeForm .inputBox input,
.commandeForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: var(--dark);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.commandeForm .inputBox textarea {
  height: 130px;
}
.commandeForm .superBox3 {
  margin-top: 60px;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commandeForm .inputBox input[type="submit"] {
  max-width: 160px;
  display: inline-block;
  color: var(--default);
  background: var(--persistant);
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.commandeForm .inputBox input[type="submit"]:hover {
  --max-width: 160px;
  max-width: calc(var(--max-width) + 30px);
  letter-spacing: 3px;
}

/*******************************************************/
/*        
/*                  AVIS SECTION
/*
/******************************************************/
.avis {
  background: url("../assets/images/28.jpg");
  background-size: cover;
  background-position: bottom;
}
.avis .title h2 {
  color: var(--dark);
}
.avis .title p {
  color: var(--dark);
  line-height: 36px;
  text-align: center;
  padding: 10px;
  border-radius: 1px 14px 30px 30px;
  background-color: var(--default);
}
.avis .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.avis .content .box {
  width: 230px;
  margin: 20px;
  padding: 40px;
  background: var(--default);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avis .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.avis .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avis .content .box .text {
  text-align: center;
}
.avis .content .box .text p {
  color: var(--dark);
  font-style: italic;
}
.avis .content .box .text h3 {
  margin-top: 20px;
  color: var(--primaire);
  font-size: 1em;
  font-weight: 600;
}

/*******************************************************/
/*        
/*                  CONTACT SECTION
/*
/******************************************************/
.contact {
  background: url("../assets/images/ag.jpg");
  background-size: cover;
}
.formBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactForm {
  width: 55%;
  max-width: 435px;
  margin-top: 50px;
  padding: 75px 50px;
  background-color: var(--default);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
.contactForm h3 {
  color: var(--dark);
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: var(--dark);
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contactForm .inputBox textarea {
  height: 130px;
}
.contactForm .inputBox input[type="submit"] {
  max-width: 100px;
  display: inline-block;
  color: var(--default);
  background: var(--persistant);
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.contactForm .inputBox input[type="submit"]:hover {
  --max-width: 100px;
  max-width: calc(var(--max-width) + 20px);
}

/*******************************************************/
/*        
/*                     FOOTER
/*
/******************************************************/
.firstFooter {
  height: 250px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.firstFooterPartOne {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 20px;
}
.firstFooterPartOne .mentionLegales {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 0.8em;
}
.firstFooterPartOne .mentionLegales a {
  text-decoration: none;
  color: var(--dark);
  transition: 0.3s;
}
.firstFooterPartOne .mentionLegales a:hover {
  color: var(--persistant);
  font-weight: 900;
}
.firstFooterPartOne .map {
  height: 200px;
  transform: scale(0.7);
  overflow: initial;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 50%);
}
.firstFooterPartOne .map img {
  width: 100%;
  height: 100%;
}
.social {
  display: flex;
  align-items: center;
  transform: translate(-20px, 10px) scale(0.8);
}
.social-group1,
.social-group2 {
  overflow: initial;
}
.socialBox {
  padding: 10px;
  display: flex;
  align-items: center;
}
.socialBox .imgBx {
  height: 36px;
  width: 36px;
  transition: 0.5s;
}
.socialBox .imgBx:hover {
  transform: scale(0.9);
}
.socialBox .imgBx a {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
}
.socialBox .imgBx .fb {
  background-image: url("../assets/images/social.png");
  background-position: -249px 2px;
  background-size: 320px;
  background-repeat: no-repeat;
}
.socialBox .imgBx .inst {
  background-image: url("../assets/images/social.png");
  background-position: -84px 2px;
  background-size: 320px;
  background-repeat: no-repeat;
}
.socialBox .imgBx .tw {
  background-image: url("../assets/images/social.png");
  background-position: 0px 2px;
  background-size: 320px;
  background-repeat: no-repeat;
}
.socialBox .imgBx .tel {
  background-image: url("../assets/images/social.png");
  background-position: -203px 2px;
  background-size: 320px;
  background-repeat: no-repeat;
}
.socialBox .imgBx .mail {
  background-image: url("../assets/images/social.png");
  background-position: -284px 2px;
  background-size: 320px;
  background-repeat: no-repeat;
}
.socialBox .imgBx .local {
  background-image: url("../assets/images/social.png");
  background-position: -162px 1px;
  background-size: 320px;
}
.socialBox > a {
  margin-left: 48px;
  text-decoration: none;
  color: var(--dark);
  font-weight: 300;
  transition: 0.3s;
}
.socialBox > a:hover,
.socialBox > a:active {
  color: var(--persistant);
  font-weight: 900;
}
.copyrightText {
  height: 80px;
  padding: 8px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.copyrightText p {
  font-size: 0.8em;
  color: var(--dark);
}
.copyrightText a {
  color: var(--dark);
  text-decoration: none;
  transition: 0.5s;
}
.copyrightText a:hover {
  color: var(--persistant);
  font-weight: 700;
}

/*******************************************************/
/*        
/*                  MEDIAS QUERIES
/*
/******************************************************/

/************************991px************************/
@media (max-width: 991px) {
  * {
    overflow-x: hidden;
  }
  header,
  header.sticky {
    height: 70px;
    padding: 10px 20px;
    overflow: initial;
  }
  header .navigation {
    display: none;
  }
  .showNav {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11000;
    align-items: center;
    justify-content: center;
    background-color: var(--primaire);
    -webkit-animation: slide 0.8s ease-in;
    -moz-animation: slide 0.8s ease-in;
    animation: slide 0.8s ease-in;
  }
  @-moz-keyframes slide {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @-webkit-keyframes slide {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @-o-keyframes slide {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @keyframes slide {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .showNav li {
    list-style: none;
    width: 100%;
    margin: 0px !important;
    padding: 10px;
    text-align: center;
    transform: translateY(-20px);
  }
  .showNav li:hover {
    transform: translateY(-20px) scale(1.1);
  }
  .showNav li:hover a {
    color: var(--dark) !important;
    font-weight: 700;
  }
  header.sticky .showNav li a,
  header .showNav li a {
    color: var(--default);
    font-size: 1rem;
  }
  header.sticky .showNav li a:hover,
  header.sticky .showNav li a:active {
    color: var(--dark);
  }
  header .logo {
    position: absolute;
    top: 10px;
    left: 44px;
  }
  header #cartBox {
    position: absolute;
    right: 120px;
    width: 40px;
    height: 50px;
    transform: scale(0.74) translateY(8px);
    overflow: visible;
  }
  header #cartBox:hover {
    transform: scale(0.7) translateY(8px);
  }
  header #cartBox a {
    width: 36px;
    height: 36px;
    transition: 0.5s;
  }
  .menuToggle {
    position: absolute;
    width: 30px;
    height: 32px;
    right: 55px;
    background: url("../assets/images/website-icon.png");
    background-size: cover;
    background-position: -55px -1px;
    background-repeat: no-repeat;
    filter: invert(1);
    transform: scale(0.8);
    transition: 0.5s;
  }
  header.sticky .menuToggle {
    filter: inherit;
  }
  .closeNav {
    top: 46px;
    width: 25px !important;
    height: 25px !important;
    background-position: -87px -1px !important;
    filter: invert(1) !important;
    z-index: 13000;
    -moz-animation: rotate 1s linear;
    -webkit-animation: rotate 1s linear;
    -o-animation: rotate 1s linear;
    animation: rotate 1s linear;
  }
  @-webkit-keyframes rotate {
    to{
      transform: rotateZ(180deg);
    }
  }
  @-moz-keyframes rotate {
    to{
      transform: rotateZ(180deg);
    }
  }
  @-o-keyframes rotate {
    to{
      transform: rotateZ(180deg);
    }
  }
  @keyframes rotate {
    to{
      transform: rotateZ(180deg);
    }
  }
  .closeNav:hover {
    transform: scaleX(0.8);
  }

  .invoiceBox {
    top: 100px;
  }
  .banner {
    overflow: hidden;
  }
  .banner .content::before {
    top: -20px;
  }
  section {
    padding: 70px;
  }
  .title p {
    text-align: center;
  }
  .menu .content .box {
    border-top-width: 0px;
  }
  .menu .content .box .transactionBox {
    margin-bottom: 15px;
  }
  .commandeForm {
    width: inherit;
    max-width: 660px;
    padding: 75px 85px;
  }
  .formBox {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contactForm {
    width: 100%;
    margin-bottom: 50px;
  }
  .firstFooter {
    height: auto;
  }
  .firstFooterPartOne {
    width: 45%;
    padding-top: 30px;
  }
  .social {
    width: 55%;
    height: 250px;
    max-width: inherit;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    border-top: none;
  }
  .copyrightText {
    box-shadow: 2.5px -1px rgb(0 0 0 / 17%);
  }
}

/************************910px************************/
@media (max-width: 910px) {
  .firstFooter {
    padding: 30px 0;
  }
  .firstFooterPartOne {
    width: 40%;
  }
  .social {
    width: auto;
    justify-content: flex-end;
  }
}

/************************790px************************/
@media (max-width: 790px) {
  .banner .content h2 {
    font-size: 1.3em;
  }
  .banner .content p {
    font-size: 0.9rem;
  }
  .titleText {
    font-size: 1.6rem;
  }
  .banner {
    padding: 22px;
  }
  .banner .content::before {
    top: -47px;
  }
  .banner .btn {
    margin-top: 0px;
  }
  .banner .content::after {
    top: calc(100vh - 156px);
    right: 2px;
    opacity: 0.7;
  }
  header .logo {
    top: 18px;
    left: 41px;
    font-size: 1.4em;
  }
  .contactForm {
    min-width: 280px;
    box-shadow: 0 -2px 35px rgb(0 0 0 / 10%);
  }
  .firstFooter {
    padding: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .firstFooterPartOne {
    width: 100%;
    flex-direction: column-reverse;
    column-gap: initial;
    align-items: center;
  }
  .firstFooterPartOne .mentionLegales {
    flex-direction: row;
    transform: initial;
  }
  .firstFooterPartOne .map {
    height: 70%;
    width: 80%;
    box-shadow: initial;
    transform: initial;
  }
  .social {
    width: 100%;
    height: auto;
    justify-content: space-between;
    transform: translate(0px, 0px) scale(0.8);
  }
}

/************************587px************************/
@media (max-width: 587px) {
  .banner .content h2 {
    font-size: 1em;
    margin-top: 23px;
  }
  .banner .content p {
    font-size: 0.8rem;
    margin: 34px 17px;
  }
  section {
    padding: 75px 50px 75px 50px;
  }
  .about {
    padding-bottom: 50px;
  }
  .row {
    flex-direction: column;
  }
  .row .col {
    width: 100%;
  }
  .about .col > p {
    margin-bottom: 20px;
  }
  .menu {
    padding-bottom: 50px;
  }
  .menu .content .box {
    width: 90%;
  }
  .menu .content .box .imgBx {
    height: 300px;
  }
  .menu .content .box .text {
    padding: 15px 20.5px;
  }
  .titleText {
    font-size: 1.4rem;
  }
  .title p {
    text-align: center;
    font-size: 0.9em;
  }
  .commandeForm {
    min-width: 280px;
    padding: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .commandeForm h3 {
    font-size: 0.8em;
  }
  .commandeForm .superBox1 {
    flex-direction: column;
  }
  .commandeForm .superBox1 .inputBox {
    width: 100% !important;
  }
  .commandeForm .superBox3 {
    margin-top: 25px;
  }
  .commandeForm .inputBox {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .commandeForm .inputBox input,
  .commandeForm .inputBox textarea {
    width: 80%;
  }
  .avis .content .box {
    width: 343px;
  }
  .contactForm {
    width: 95%;
    box-shadow: 0 0px 5px rgb(0 0 0 / 10%);
  }
  .contactForm .inputBox {
    margin-bottom: 40px;
  }
  .contactForm .inputBox input[type="submit"] {
    max-width: 135px;
  }
  .contactForm .inputBox input[type="submit"]:hover {
    --max-width: 135px;
    max-width: calc(var(--max-width) + 20px);
  }
  .firstFooter {
    padding: 30px 0;
  }
  .social {
    height: initial;
    padding: 0px;
    overflow: initial;
    justify-content: space-between;
  }
  .socialBox .imgBx {
    height: 21px;
  }
  .copyrightText {
    height: 55px;
    font-size: 0.8rem;
    padding: 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  }
}

/************************481px************************/
@media (max-width: 481px) {
  .menuToggle {
    right: 25px;
  }
  header #cartBox {
    right: 65px;
  }
  .commandeForm .inputBox {
    width: 100%;
  }
  .contactForm {
    width: 95%;
    padding: 75px 40px 55px 40px;
    box-shadow: -1px 1px 15px rgb(0 0 0 / 10%);
  }
  .contactForm .inputBox {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .contactForm .inputBox input[type="submit"] {
    max-width: 124px;
  }
  .contactForm .inputBox input[type="submit"]:hover {
    --max-width: 124px;
    max-width: calc(var(--max-width) + 20px);
  }
  .firstFooterPartOne .mentionLegales a {
    font-size: 0.77em;
  }
  .social {
    font-size: 0.77em;
    gap: inherit;
    transform: initial;
    justify-content: space-evenly;
  }
  .socialBox {
    height: inherit;
    align-items: baseline;
  }
  .socialBox .imgBx {
    height: 11px;
    width: inherit;
  }
  .socialBox .imgBx a {
    width: 25px;
    height: 25px;
  }
  .socialBox .imgBx .fb {
    background-position: -123px -1px;
    background-size: 665%;
  }
  .socialBox .imgBx .inst {
    background-position: -39px -1px;
    background-size: 665%;
  }
  .socialBox .imgBx .tw {
    background-position: 3px -1px;
    background-size: 665%;
  }
  .socialBox .imgBx .tel {
    background-position: -102px 0px;
    background-size: 665%;
  }
  .socialBox .imgBx .mail {
    background-position: -145px -2px;
    background-size: 665%;
  }
  .socialBox .imgBx .local {
    background-position: -81px 0px;
    background-repeat: no-repeat;
    background-size: 665%;
  }
  .socialBox > a {
    margin-left: 30px;
  }
  .copyrightText {
    font-size: 0.75rem;
  }
}

/************************375px************************/
@media (max-width: 375px) {
  .invoiceBox {
    right: 5px;
  }
  .menu .content .box .imgBx {
    height: 230px;
  }
}

/************************360px************************/
@media (max-width: 360px) {
  .menuToggle {
    right: 25px;
  }
  header #cartBox {
    right: 75px;
  }
  header .logo {
    left: 27px;
  }
  .banner .content {
    padding-top: 50px;
  }
  .banner .content h2 {
    margin-top: 10px;
  }
  .showNav li {
    transform: translateY(-40px);
  }
  .showNav li:hover {
    transform: translateY(-40px) scale(1.1);
  }
  .invoiceBox {
    width: 95%;
  }
  section {
    padding: 75px 20px 75px 20px;
  }
  .social {
    font-size: 0.7em;
    transform: scale(0.92) translateX(-1px);
  }
}

/************************3411px************************/
@media (max-width: 341px) {
  .menuToggle {
    right: 15px;
    height: 25px;
    width: 30px;
    background-position: -40px -1px;
  }
  header #cartBox {
    right: 60px;
    height: 25px;
    width: 25px;
  }
  header #cartBox a {
    transform: translate(2px, -15px);
  }
  #counter {
    top: -11px;
  }
  .titleText {
    font-size: 1.4rem;
    text-align: center;
  }
  .commandeForm h3 {
    font-size: 0.8rem;
  }
}

/************************329px************************/
@media (max-width: 329px) {
  header .logo {
    left: 25px;
    font-size: 1.3em;
  }
  .copyrightText {
    font-size: 0.5rem;
  }
  .social {
    padding: 20px 0;
  }
}

/************************300px************************/
@media (max-width: 300px) {
  header .logo {
    left: 20px;
    font-size: 1.2em;
  }
  .commande {
    padding: 75px 5px 75px 5px;
  }
}

/************************292px************************/
@media (max-width: 292px) {
  .menu .content .box .transactionBox .addToCartBox {
    font-size: 0.7em;
  }
}